#navStepMenu {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	margin-top: 15px;
	height: 63px;
	width: 770px;
}

.state1 {
	background: url('../../images/white/timeline_2.png') no-repeat left top;
	background-size: 771px 250px;
}

.state2 {
	background: url('../../images/white/timeline_2.png') no-repeat 0px -63px;
	background-size: 771px 250px;
}	

.state3 {
	background: url('../../images/white/timeline_2.png') no-repeat 0px -126px;
	background-size: 771px 250px;
}

.state4 {
	background: url('../../images/white/timeline_2.png') no-repeat 0px -189px;
	background-size: 771px 250px;	
}

#navStepMenu a {
	color: #FFFFFF;
	vertical-align: top;
	display: inline-block;
	font-size: 0.8em;
	font-weight: 100;
	text-align: center;
	-webkit-transition: all ease-in-out 250ms;
	-webkit-transform: translate3d(0, 0, 0);
	margin-top: 2px;
	height: 53px;
}

.stepOne, #stepOne {
	display: inline-block;
	width: 197px;
	margin: 0;
}

.stepTwo, #stepTwo {
	display: inline-block;
	width: 190px;
	margin: 0;
}

.stepThree, #stepThree {
	display: inline-block;
	width: 182px;
	margin: 0;
}

.stepFour, #stepFour {
	display: inline-block;
	width: 185px;
	margin: 0;
}
