div#mainBackground { position: fixed; top: 210px; width: 1024px; height: 610px; z-index: -1; }

.contentToBeRemoved { margin-left: -100%; -webkit-transform: translate3d(0, 0, 0); }
.contentToBeAdded { left: 1000px; -webkit-transform: translate3d(0, 0, 0); }
.contentReset { margin-left: 0; -webkit-transform: translate3d(0, 0, 0); }
.content { margin-top: 85px; }

#UXLoader { position: fixed; top: 0; left: 0; width: 100%; height: 100%; padding-top: 400px; text-align: center; background-color: rgba(0, 0, 0, 0.2); }

/* Swipe 2 Carousel required styles */

.swipe { position: relative; max-width: 800px; margin: 0 0 5px 62px; text-align: center; visibility: hidden; overflow: hidden; }
.swipe-wrap { position: relative; overflow: hidden; }
.swipe-wrap > div { position: relative; float: left; width: 100%; }

/* END required styles */

.siteHidden { margin-left: -1100px; }
.siteShown { margin-left: 0; }

.dashMainContentSectionToBeRemoved { margin-top: -2000px; -webkit-transform: translate3d(0, 0, 0); }
.dashMainContentSectionReset { margin-top: 0; -webkit-transform: translate3d(0, 0, 0); }

.doc { color: #000; text-decoration: none;  }

/*
.hiddenOverFlow { overflow-x: hidden; }
#currentCreditRequesDocumentSlideJS.swipe { position: relative; margin-left: 0; visibility: hidden; overflow: hidden; }
#secondWrapper.swipe-wrap { position: relative; overflow: hidden; }
#secondWrapper.swipe-wrap > div { position: relative; float: left; width: 50%; }
.diapo1 { position: absolute; top: 130px; width: 900px;  margin-left: -1200px; -webkit-transition: left ease-out 500ms, margin-left ease-out 1000ms; -webkit-transform: translate3d(0, 0, 0); z-index: 1; }
.diapo2 { position: absolute; top: 130px; width: 900px; -webkit-transition: left ease-in 500ms, margin-left ease-in 1000ms; -webkit-transform: translate3d(0, 0, 0); z-index: 1; }
.diapo3 { position: absolute; top: 130px; width: 900px; left: 1200px; -webkit-transition: left ease-out 500ms, margin-left ease-out 1000ms; -webkit-transform: translate3d(0, 0, 0); z-index: 1; }
.visibilityHidden { visibility: hidden; -webkit-transition: all ease-in-out 500ms; }
.visibilityShown { visibility: visible; -webkit-transition: all ease-in-out 500ms; }
#rightArrow { position: fixed; top: 400px; right: 0; color: #fff; z-index: 10000; } 
#rightArrow img { margin-right: 50px; }
#leftArrow { position: fixed; top: 400px; left: 0; margin-left: 50px; color: #fff; z-index: 10000; }
*/