#site {
	z-index: 0; 
	opacity: 0; 
	-webkit-transition: opacity ease-in-out 1500ms;
}

#userIDConnect {
	padding-top: 25px;
	padding-left: 10px;
	width: 115px;
	height: 75px;
	vertical-align: top;
	display: inline-block;
	background: url('../images/icon-profile__2x.png') no-repeat 85% 40%;
	background-size: 50px 51px;
	font-size: 0.8em;
	color: #FFFFFF;
	font-weight: 700;
}

#content {
	z-index: 0;
	width: 100%;
	-webkit-transition: margin ease-in-out 1000ms; 
}

#formerContent {
	z-index: 0;
	width: 100%;
	background: rgba(0, 0, 0, .27); 
	height: 680px; 
	-webkit-transition: margin ease-in-out 1000ms; 
	position: fixed; 
	margin-top: 80px;
}

#newContent {
	z-index: 0;
	width: 100%;
	background: rgba(0, 0, 0, .27); 
	height: 680px; 
	-webkit-transition: margin ease-in-out 1000ms; 
	margin-top: 80px;
	left: 1000px;
	-webkit-transform: translate3d(0, 0, 0);	
}

#searchDocsForm {
	opacity: 0.7;
	height: 65px;
}

#searchDocsForm div {
	padding-top: 10px;
}

#searchDocsForm .formButtons1, #searchDocsForm .formButtons2 {
	padding: 10px 20px 10px 20px;
	border: 1px solid #000000;
	font-size: 0.8em;
}

#search {
	padding-left: 50px;
}

#searchDocsForm input {
	border: 1px solid #000000;
	font-size: 1em;
	color: #FFFFFF;
	background: url('../images/loupe.png') #3E3E3E no-repeat 3% center;
	background-size: 23px 23px;
}


#searchDocsForm .formButtons1 {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	margin-left: 25px;
	background-color: #3E3E3E;
	color: #FFFFFF;
}

#searchDocsForm .formButtons2 {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-right: 90px;
	color: #FFFFFF;
}

#bullet1, #bullet2 {
	font-size: 4em;
}

#bullet1.active, #bullet2.active {
	color: #D90032;
	letter-spacing: -7px;
}

#bullet1.inactive, #bullet2.inactive {
	color: #434343;
	letter-spacing: -7px;
}

.requestLabels {
	font-size: 1.8em;
	color: #C0C1C1;
	padding-left: 160px;
	font-weight: 100;
	-webkit-transition: all ease-out 500ms;
}

.delayingSubTitle {
	margin-left: -500px;
}

.arrivingSubTitle {
	margin-left: 0px;
}

#searchDocsForm input {
	padding: 10px 10px 10px 50px;
	border-radius: 7px;
	border: 0;
	width: 400px;
}

#searchDocsForm img {
	float: right;
	margin-right: 20px;
	margin-top: 5px;
}

#indexSection {
	margin-top: 175px;
}

#requests {
	text-align: center;
	padding-left: 50px;
	padding-right: 50px;
	vertical-align: top;
	-webkit-transition: all ease-in-out 1200ms;
}

.scaleSmall {
	-webkit-transform : scale(0.75,0.75) translate3d(0, 0, 0);
}

.scaleNormal {
	-webkit-transform : scale(1,1) translate3d(0, 0, 0);
}

.request {
	width: 160px;
	height: 160px;
	background-color: #FEFEFE;
	border: 1px solid #F8F8F8;
	display: inline-block;
	margin: 12px;
	border-radius: 40px;
}

.requestLabel {
	display: block;
	padding-top: 30px;
	color: #444444;
	font-weight: 100;
}

#content2 {
	top: 100%;
	-webkit-transition: all ease-in-out 1000ms;
	-webkit-transform: translate3d(0, 0, 0);
}

.requestAmount {
	display: block;
	color: #000000;
}

.requestClient {
	display: block;
	color: #484848;
	font-weight: 100;
}

.requestStatus {
	display: block;
	font-size: 0.8em;
}

.requestLine {
	color: red;
	border: 1px solid #FD0000;
	margin-left: 20px;
	margin-right: 20px;
}

.graphs {
	padding: 8px 15px;
	overflow: hidden;
	width: inherit;
	font-family:  "Helvetica neue";
	width: 860px;
	float: right;
	text-align: center;
	top: 550px;
}

.graph {
	padding: 20px 0px 20px 0px;
	position: relative;
	margin-right: 1em;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.18);
	color: #FEFEFE;
	display: inline-block;
}

.graph-small {
	/*width: 250px;*/
	padding: 8px 1.5em;
	margin-right: 1em;
}


#navStepMenu {
	display: inline-block;
	width: 700px;
	height: 37px;
	margin-top: 7px;
	margin-left: 60px;
}

#navStepMenu.dashboard {
	background: url('../images/timeline.png') no-repeat 0 33%;
	background-size: 662px 148px;
}

.graph-rate {
   position: absolute;
   top: 40%;
   left: 32%;
   font-size: 40px;
   font-weight: 100;
 }

.or {
	left: 44%;
}

.graph-title {
	margin: 0;
	font-size: 18px;
	font-weight: 100;
	position: relative;
	padding-left: 20px;
}

.graph-label {
	font-size: 14px;
	text-align: center;
	font-weight: 100;
	margin-bottom: 0;
}

.graph-title-line-chart {
	margin-bottom: 7px;
	margin-right: 0;
}

#navStepMenu.choose {
	background: url('../images/timeline.png') no-repeat 0 0;
	background-size: 662px 148px;
}

.specimens {
	background-color: #f4f4f4;
}

#startingExperience {
	display: inline-block;
	-webkit-transition: all ease-in-out 250ms;
	width: 453px;
	height: 100px;
}

#startingExperience.pending {
	background: url('../images/btn_load_start_star-Over_Y201px.png') no-repeat top left;
	background-size: 453px 302px;
}

#startingExperience.pending:hover {
	background: url('../images/btn_load_start_star-Over_Y201px.png') no-repeat left center;
	background-size: 453px 302px;
}


#startingExperience.good {
	background: url('../images/btn_load_start_star-Over_Y201px.png') no-repeat bottom left;
	background-size: 453px 302px;
}

#summuryPic {
	background: url('../images/img_summary.png') #FFFFFF no-repeat top left;
	background-size: 890px 552px;
	width: 890px;
	height: 552px;
	display: inline-block;
	margin-top: 150px;
	margin-bottom: 200px;
	float: right;
	clear: both;
}

#nextButton {
	background: url('../images/btn_next-step.png') no-repeat top left;
	background-size: 87px 72px;
	width: 87px;
	height: 36px;
	display: inline-block;
	z-index: 100000;
	vertical-align: top;
	margin-top: 25px;
	margin-right: 20px;
	float: right;
	display: none;
}

#nextButton.hidden {
	opacity: 0;
}

#nextButton.shown {
	opacity: 1;
}


/*Action*/
.container {
	overflow: hidden;
	height: 690px;
}

[id="accept"] {
  	width: 27.9%;
  	float: left;
  	margin-top: 45px;
  	text-align: center;
}

[id="slider-vertical"] {
	margin: 0 auto;
}

.form-validator-comment {
	width: 70%;
	float: left;
}

.btn-green-submit {
	border: none;
	outline: none;
	width: 132px;
	height: 54px;
	background: transparent url("../images/submit-green-button.png") no-repeat 0 0;
}

.ui-slider-vertical {
	width: 57.5px;
}
/*
.ui-slider-handle {
	left: .9em;
	background: transparent url("../images/img_slider_button.png") no-repeat 00;
	width: 142px;
	height: 142px;
}
*/

.ui-slider-vertical .ui-slider-handle {
	left: -2.4em;
	bottom: 52%;
	/*margin-left: 0;*/
	margin-bottom: -3.9em;
	background: transparent url("../images/img_slider_button.png") no-repeat 00;
	width: 142px;
	height: 142px;
	border: none;
	outline: none;
}
.validator-comment-input {
	width: 80%;
	height: 60px;
	font-size: 14px;
	font-weight: 400;
}

.validator-comment-textarea {
	width: 80%;
	/*height: 60px;*/
	font-size: 14px;
	font-weight: 400;
}

input:focus, textarea:focus {
	outline: none;
}

.content-slider-titre {
	font-size: 26px;
	font-weight: 600;
	margin-bottom: 0;
}

.content-slider__sous-titre {
	font-size: 15px;
	font-weight: 100;
	margin-top: 0;
}



.mainText {
	 -webkit-appearance: none;
	 border-radius: 7px;
	font-size: 1.4em;
	border: none;
	box-shadow:inset 0 0 10px #CCCCCC;
	padding: 10px;
}

.texteareaShort {
	height: 200px;
}

.myOwnSlider {
	margin-left: -230px;
	margin-top: 0px;
    background-color: transparent;
}

#formImage {
	background: url('../images/select_validate.png') no-repeat left top;
	background-size: 712px 418px;
	width: 710px;
	height: 418px;
	margin-left: 250px;
	margin-top: 50px;
}

.graph-rate, .graph-title, .graph-label {
	font-family: 'Helvetica neue';
}



/*	Credit Requests Swipe carousel styles 	*/
.crCard {
	display: inline-block;
	border: 1px solid #DDDDDD;
	width: 160px;
	margin: 7px;
	background-color: #EDEDED;
	-webkit-transition: all ease-in-out 500ms;
}

.crCard span {
	display: block;
	-webkit-transition: all ease-in-out 500ms;	
}

.crCard span.crTitle {
	display: block;
	font-weight: 100;
	color: #666666;
	background-color: #FFFFFF;
	border-bottom: #F8F8F8;
	padding: 7px;
	text-align: center;
	font-size: 0.8em;
	padding-top: 10px;
	padding-bottom: 10px;
}

.crCard span.crRequester {
	display: block;
	font-size: 1.2em;
	font-weight: 100;
	color: #141414;
	padding: 40px 10px 20px 10px;
	margin-left: 7px;
	margin-right: 7px;
	height: 50px;
}

.crCard span.crStatus {
	display: block;
	font-weight: 100;
	color: #666666;
	background-color: #FFFFFF;
	border-bottom: #F8F8F8;
	padding: 7px;
	text-align: center;
	font-size: 0.8em;
}

.crCard span.crDeadline {
	display: block;
	font-weight: 100;
	color: #141414;
	background-color: #FFFFFF;
	border-bottom: 1px solid #D71236;
	padding: 7px;
	font-size: 0.7em;	
}

.crCardDark {
	display: inline-block;
	border: 1px solid #2F302E;
	width: 160px;
	margin: 7px;
}

.crCardDark span {
	display: block;
}

.crCardDark span.crTitledark {
	display: block;
	font-weight: 100;
	color: #FFFFFF;
	border-bottom: #F8F8F8;
	padding: 7px;
	text-align: center;
	font-size: 0.8em;
}

.crCardDark span.crTitle {
	display: block;
	font-weight: 100;
	color: #FFFFFF;
	border-bottom: #F8F8F8;
	padding: 7px;
	text-align: center;
	font-size: 0.8em;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: rgba(90, 90, 90, 0.9);
}

.crCardDark span.crRequester {
	display: block;
	font-size: 1.2em;
	font-weight: 100;
	color: #FFFFFF;
	padding: 40px 10px 20px 10px;
	height: 50px;
	background-color: rgba(200, 200, 200, 0.2);	
}

.crCardDark span.crStatus {
	display: block;
	font-weight: 100;
	color: #FFFFFF;
	background-color: rgba(200, 200, 200, 0.4);	
	border-bottom: #F8F8F8;
	padding: 7px;
	text-align: center;
	font-size: 0.8em;
}

.crCardDark span.crDeadline {
	display: block;
	font-weight: 100;
	color: #FFFFFF;
	border-bottom: 1px solid #D71236;
	padding: 7px;
	font-size: 0.7em;	
	background-color: rgba(200, 200, 200, 0.2);	
}

.swipePrevious {
	position: absolute;
	left: 20px;
	top: 330px;
	color: #FFFFFF;
	border-radius: 50px;
	padding: 15px 20px 15px 20px;
	background-color: #CCCCCC;
}

.swipeNext {
	position: absolute;
	right: -40px;
	top: 330px;
	color: #FFFFFF;
	border-radius: 50px;
	padding: 15px 20px 15px 20px;
	background-color: #CCCCCC;
	-webkit-transition: opacity ease-out 250ms;
}

/*	End of Credit Requests Swipe Carousel Styles 	*/

/*	Credit Requests list styles 	*/

.CRList {
	-webkit-transition: all ease-in-out 500ms;
	text-align: center;
	margin-top: 20px;
}

.CRList span.crCard, .CRList span.crCardDark {
	display: block;
	width: 80%;
	margin-left: 10%;
	background-color: #EDEDED;	
	height: 50px;
	vertical-align: middle;
	margin-top: 0;
	margin-bottom: 0;
}

.CRList span.crCardDark {
	background-color: rgba(200, 200, 200, 0.2);	
}

.CRList .crCard span, .CRList .crCardDark span {
	display: inline-block;
	-webkit-transition: all ease-in-out 500ms;	
}

.CRList .crCard span.crTitle, .CRList .crCardDark span.crTitle {
	-webkit-transition: all ease-in-out 500ms;	
	font-weight: 100;
	color: #666666;
	background-color: #FFFFFF;
	border-bottom: #F8F8F8;
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 5px;
	float: left;
	font-size: 0.8em;
}

.CRList .crCardDark span.crTitle {
	color: #FFFFFF;
	background-color: rgba(90, 90, 90, 0.9);
}

.CRList .crCard span.crRequester, .CRList .crCardDark span.crRequester {
	font-size: 1.2em;
	font-weight: 100;
	color: #141414;
	padding: 5px 5px 5px 5px;
	margin-left: 7px;
	margin-top: 10px;
	margin-right: 7px;
	border-bottom: none;
	height: auto;
	background-color: transparent;
}

.CRList .crCardDark span.crRequester {
	color: #FFFFFF;	
}

.CRList .crCard span.crStatus, .CRList .crCardDark span.crStatus {
	font-weight: 100;
	color: #666666;
	background-color: #FFFFFF;
	border-bottom: #F8F8F8;
	padding: 7px;
	float: right;
	font-size: 0.8em;
	margin-top: 10px;
	margin-bottom: 5px;	
}

.CRList .crCardDark span.crStatus {
	background-color: rgba(200, 200, 200, 0.4);	
	color: #FFFFFF;
}

/*	End of Credit Requests list styles 	*/































































































































/*	Documents 	*/



#searchDocs {
	-webkit-appearance: none;
	border-radius: 10px;
	border: 1px solid #F0F0F0;
	padding: 10px 10px 10px 40px; 
	color: #474747;
	font-size: 1.4em;
	float: left;
	width: 300px;
	font-weight: 100;
	margin-left: 30px;
	background: url('../images/loupe.png') #D6D6D6 15px center no-repeat;
	background-size: 16px 16px;

}

#typeSortKey {
	margin-right: 70px;		
}

.buttons {
	border: 1px solid #393939;
	border-radius: 10px;
	padding: 10px 20px 10px 20px;
	color: #C9C9C9;
	font-size: 1.2em;
	font-weight: 100;
	display: inline-block;
	background-color: #3E3E3E;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 10px;
	-webkit-transition: all ease-in-out 500ms;
	float: right;
}

.buttonsUnselected {
	border:; 1px solid #FFFFFF;
	padding: 10px 20px 10px 20px;
	display: inline-block;
	color: #131313;
	font-size: 1.2em;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 10px;
	font-weight: 100;
	-webkit-transition: all ease-in-out 500ms;	
	float: right;
}

.docsTable {
	margin-top: 50px;
}

#documentsView {
	background-color: #FFFFFF;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 100px;
}

.docTableRow {
	display: table-row;
	margin-top: 50px;
}

.docTableRow span {
	display: table-cell;
	padding: 10px;
	text-align: center;
}

.docTableRow span {
	margin: 10px;
	width: 200px;
}

.newDocument {
	display: inline-block;
	background-color: #00BF00;
	padding: 10px 20px 10px 20px;
	border: 1px solid #49B4AB;
	color: #FFFFFF;
	font-size: 0.9em;
	font-weight: 100;
	border-radius: 10px;
	letter-spacing: 1px;
	float: left;
	margin-bottom: -50px;
	margin-left: 40px;
}

#searchDocs {
	border: 1px solid #000000;
	margin-top: 10px;
	font-size: 1em;
	color: #FFFFFF;
	background: url('../images/loupe.png') #3E3E3E no-repeat 3% center;
	background-size: 23px 23px;
}

#documentsSearchTools {
	position: fixed; 
	top: 150px; 
	left: 111px; 
	background-color: #FFFFFF;
	border-bottom: 1px solid #CCCCCC;
	padding-bottom: 10px;
	width: 923px;
}

#closePDF {
	display: inline-block;
	float: right;
	margin-top: -20px;
	font-size: 2em;
}

#documentsOverlay {
	position: fixed; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
	background-color: rgba(0,0,0,0.25); 
	z-index: 10000;
	-webkit-transition: all ease-out 500ms;
}

.docOverLay {
	background-color: #FFFFFF; 
	margin: 40px; 
	border-radius: 25px; 
	height: 650px; 
	padding: 20px;	
}

#docOverLayBackground {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}


/*	End of Documents */


/*	Responses 	*/

.mainSummaryContainer {
	margin-top: 140px;
	background-color: #FFFFFF;
	margin-left: 110px;
}

.responsesSubTitle {
	font-size: 2em;
	color: #212121;
	font-weight: 100;
	padding: 30px;
	letter-spacing: 2px;
}

.responsesTable {
	text-align: center;
	display: table-row;
	background-color: #FFFFFF;
	margin-bottom: 150px;
}

.responsesTableCells {
	display: table-cell;
	width: 160px;
	font-weight: 100;
	vertical-align: middle;
}

.headerTableSort {
	font-size: 1.6em;
	background: url('../images/sortKey.png') transparent right center no-repeat;
	padding-right: 20px;
	font-weight: 100;
	vertical-align: middle;
}

.responsesTableCells label {
	vertical-align: bottom;
	display: inline-block;
	padding-top: 20px;
	float: right;
	padding-right: 20px;
}

.responsesTableCells label input {
	padding-left: 20px;
}

.responsesTableGreRow {
	background-color: #FAFAFA;
}

/*	End of Documents 	*/


/*	Status response CR 	*/

.statusContainer {
	text-align: center;
}

.statusTitle {
	display: inline-block;
	margin-top: 200px;
	font-size: 4em;
	font-weight: 100;
	color: #E6E6E6;
}

.rotatingStatus {
	display: inline-block;
	margin-right: 40px;
	padding-bottom: 5px;
}
.statusDetailsContainer {
	background: url('../images/img_bloc_blanc_2x.png') transparent center center no-repeat;
	background-size: 998px 393px;
	width: 998px;
	height: 393px;

}

.statusTableRow {
	display: table-row;
}

.statusTableCellL {
	display: table-cell;
	width: 200px;
	padding: 60px 60px 0px 60px;
	color: #868686; 
	vertical-align: top;
}

.statusTableCellR {
	color: #868686; 	
	display: table-cell;
	width: 780px;
}

.statusLogo {
	display: block;
	margin-left: 20px;
	margin-top: 20px;
}

.statusSubHeadline {
	display: block;
	color: #009ACD;
	text-transform: uppercase;
	text-align: center;
	padding-top: 20px;
}

.statusClientText {
	font-weight: 100;
	display: block;
	text-align: center;
}

.statusTableCellRCells {
	font-size: 0.8em;
	vertical-align: top;
	display: table-cell;
	padding-top: 60px;
	text-align: center;
	width: 155px;
	font-weight: 100;
}

.statusDescr {
	background: url('../images/img_picto_purpose_2x.png') transparent left center no-repeat;
	background-size: 46px 55px;
	height: 55px;
	padding-left: 60px;
	width: 550px;
	display: inline-block;	
	padding-top: 10px;
}




