
input[type="range"] {
    position:absolute;
    -webkit-transform: rotate(90deg);
    top: 310px;
}

input[type=range] {
    -webkit-appearance: none;
    width: 450px;
    height:2px;
    background-color: transparent;
}

.range input[type="range"]::-webkit-slider-thumb {
     -webkit-appearance: none;
    background-color: #666;
    width: 142px;
    height: 142px;
	background:  url('../images/img_slider.png') no-repeat center center, url('../images/img_slider_button.png') no-repeat center center;
	background-size: 31px 63px, 142px 142px;
	-webkit-transform: rotate(90deg);
	border: none;
	z-index: -1;
}

.rangeCanceled input[type="range"]::-webkit-slider-thumb {
     -webkit-appearance: none;
    background-color: #666;
    width: 142px;
    height: 142px;
	background: url('../images/refuse.png') no-repeat center center, url('../images/img_slider.png') no-repeat center center, url('../images/img_slider_button.png') no-repeat center center;
	background-size: 37px 37px, 31px 63px, 142px 142px;
	-webkit-transform: rotate(90deg);
	border: none;
	z-index: -1;
}

.rangeValidated input[type="range"]::-webkit-slider-thumb {
     -webkit-appearance: none;
    background-color: #666;
    width: 142px;
    height: 142px;
	background: url('../images/valid.png') no-repeat center 50%, url('../images/img_slider.png') no-repeat center center, url('../images/img_slider_button.png') no-repeat center center;
	background-size: 37px 37px, 31px 63px, 142px 142px;
	-webkit-transform: rotate(90deg);
	border: none;
	z-index: -1;
}
    

.myOwnSlider {
	margin-left: -160px;
	margin-top: 0px;
    background-color: transparent;
}

#validated {
	display: inline-block;
	background: url('../images/img_picto_slider.png') transparent no-repeat center center;
	width: 37px;
	height: 37px;
	background-size: 37px 195px;
	z-index: 10000;
	margin-top: 10px;
	opacity: 0;
	-webkit-transiton: opacity ease-out 250ms;
	z-index: 10000;
}

#canceled {
	display: inline-block;
	width: 37px;
	height: 37px;
	background: url('../images/img_picto_slider.png') transparent no-repeat center 91%;
	background-size: 37px 195px;
	z-index: 10000;
	margin-top: 280px;
	opacity: 0;
	-webkit-transiton: opacity ease-out 250ms;
	z-index: 10000;
}

#rangeLine {
	height: 379px;
	width: 60px;
	position: absolute;
	left: 110px;
}

#rangeLine.neutral {
	background: url('../images/img_background_slider_grey.png') no-repeat center center;
	background-size: 180px 379px;
	-webkit-transition: all ease-in-out 50ms;
}

#rangeLine.red {
	background: url('../images/img_background_slider_red.png') no-repeat center center;
	background-size: 180px 379px;
	-webkit-transition: all ease-in-out 50ms;
}

#rangeLine.green {
	background: url('../images/img_background_slider_green.png') no-repeat center 0%;
	background-size: 180px 379px;
	-webkit-transition: all ease-in-out 50ms;
}