/* ====================================================================================== */
/* === RESET ============================================================================ */
/* ====================================================================================== */

html, body { width: 100%; height: 100%; margin: 0; padding: 0; font-family: 'Helvetica new', sans-serif; }
body { position: relative; /*background: url('../../images/img-background.png') repeat;*/ background: #f6f6f6; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.clear { clear: both; width: 0!important; height: 0!important; }

/* ====================================================================================== */
/* === ORIENTATION ====================================================================== */
/* ====================================================================================== */

section#wrongOrientation.portrait { position: fixed; width: 768px; height: 1024px; opacity: 1; z-index: 10; background: url('../../images/img-wrongorientation@2x.png') left top no-repeat; background-size: 768px 1024px; -webkit-transition: opacity ease-in-out 250ms; }
section#wrongOrientation.landscape { width: 0; height: 0; opacity: 0; z-index: 0; background: none; background-size: 0 0; -webkit-transition: opacity ease-in-out 250ms; }

/* ====================================================================================== */
/* === SPLASH SCREEN ==================================================================== */
/* ====================================================================================== */

section#splash { position: absolute; top: 0; left: 0; -webkit-transition: visibility ease-in-out 250ms; z-index: 100; }
section#splash img { margin: 276px 0 40px 267px; }

section#splash #startingExperience { display: inline-block; width: 453px; height: 100px; margin: 100px 0 0 270px; font-size: 3em; color: #fff; -webkit-transition: all ease-in-out 250ms; }
section#splash #startingExperience { background: url('../../images/btn_load_start_star-Over_Y201px.png') no-repeat top left; background-size: 453px 302px; }
section#splash #startingExperience:hover { background-position: left center; }
section#splash #startingExperience.good { background-position: bottom left; }
section#splash #loginForm { width: 651px; margin-left: 157px; opacity: 0; }
section#splash #loginForm #loginFormError { width: 486px; height: 50px; margin: 0 0 20px 110px; color: #e3113e; text-align: center; background: #f2d2d9; }
section#splash #loginForm #loginFormError p { margin: 0; padding: 0; line-height: 15px; }
section#splash #loginForm #loginFormError p:first-child { line-height: 30px; font-weight: bold; }
section#splash #loginForm .formLine { margin-bottom: 10px; }
section#splash #loginForm label { float: left; display: inline-block; width: 100px; line-height: 38px; font-weight: lighter; text-align: right; }
section#splash #loginForm input { float: left; width: 486px; height: 38px; margin: 0 10px; padding-left: 4px; line-height: 38px; border: none; }
section#splash #loginForm input#pwdField { border: 1px solid #e3113e; }
section#splash #loginForm #loginSubmit { float: right; width: 185px; height: 45px; margin: 0 55px 0 0; padding: 0; font-size: 18px; font-family: "Helvetica neue"; font-weight: lighter; color: #fff; line-height: 45px; text-align: center; letter-spacing: 2px; background: #0095c6 url('../../images/whiteArrowRight.png') no-repeat 155px center; background-size: 10px; -webkit-transition: all ease-in-out 250ms; border: none; }
section#splash #loginForm #loginSubmit:hover { background-color: #25b5e4; cursor: pointer; }
section#splash #loginForm #sesamIcon { float: left; display: inline-block; width: 45px; height: 38px; background: url('../../images/key.jpg') no-repeat center 10px; background-size: 45px; }

/* ====================================================================================== */
/* === HEADBAND ========================================================================= */
/* ====================================================================================== */

div#mainBackgroundTop { position: fixed; top: 0; width: 1024px; height: 230px; background: url('../../images/img-background.png') repeat; z-index: 1; }
div#mainBackgroundTop header { position: relative; height: auto; opacity: 0; -webkit-transition: opacity ease-out 1500ms; z-index: 10000; }
div#mainBackgroundTop header #logoHeadBand {width: 100%; }
div#mainBackgroundTop header #logoHeadBand #headBandLogo { float: left; height: 40px; margin: 20px 0 0 20px; }
div#mainBackgroundTop header #logoHeadBand #optHolder { position: fixed; top: 0; right: 15px; height: 45px; margin-top: 20px; }
div#mainBackgroundTop header #logoHeadBand #optHolder #param,
div#mainBackgroundTop header #logoHeadBand #optHolder #account,
div#mainBackgroundTop header #logoHeadBand #optHolder #close { float: left; width: 45px; height: 45px; background: url('../../images/btn_reglage_compte_off.png') no-repeat; background-size: 45px; }
div#mainBackgroundTop header #logoHeadBand #optHolder #param:hover,
div#mainBackgroundTop header #logoHeadBand #optHolder #account:hover,
div#mainBackgroundTop header #logoHeadBand #optHolder #close:hover { cursor: pointer; }
div#mainBackgroundTop header #logoHeadBand #optHolder #account { background-position: 0 -45px; }
div#mainBackgroundTop header #logoHeadBand #optHolder #close { background-position: 0 -90px; }

div#mainBackgroundTop header #topNavBar { position: relative; top: 0; width: 100%; height: 85px; vertical-align: top; -webkit-transition: all ease-in-out 500ms; z-index: 10000; }
div#mainBackgroundTop header #topNavBar #topNavBarBackButton { display: inline-block; width: 50px; height: 53px; margin: 21px 56px 0 0; background: url('../../images/left-arrow.png') no-repeat 20px 17px; background-size: 10px; -moz-box-shadow: 0px 3px 3px 0px #dfdfdf; -webkit-box-shadow: 0px 3px 3px 0px #dfdfdf; -o-box-shadow: 0px 3px 3px 0px #dfdfdf; box-shadow: 0px 3px 3px 0px #dfdfdf; filter:progid:DXImageTransform.Microsoft.Shadow(color=#dfdfdf, Direction=180, Strength=3); -webkit-transition: all ease-in-out 500ms; }
div#mainBackgroundTop header #topNavBar #topNavBarBackButton:hover { background-color: #fafafa; cursor: pointer; }
div#mainBackgroundTop header #topNavBar #topNavBarBackButton #topNavBarBackBorder { display: none; float: right; height: 70%; margin-top: 10%; border-right: 2px solid #3E3E3E; }
div#mainBackgroundTop header #topNavBar #navStepMenu { position: absolute; top: 0; left: 0; display: inline-block; width: 712px; height: 60px; margin: 20px 0 0 160px; vertical-align: top; background: url('../../images/timeline_2.png') no-repeat; background-size: 712px; }
div#mainBackgroundTop header #topNavBar #navStepMenu.state1 { background-position: left top; }
div#mainBackgroundTop header #topNavBar #navStepMenu.state2 { background-position: 0 -62px; }	
div#mainBackgroundTop header #topNavBar #navStepMenu.state3 { background-position: 0 -124px; }
div#mainBackgroundTop header #topNavBar #navStepMenu.state4 { background-position: 0 -186px; }
div#mainBackgroundTop header #topNavBar #navStepMenu a { display: inline-block; width: 174px; height: 60px; margin: 0; font-size: 0.8em; font-weight: 100; color: #fff; text-align: center; vertical-align: top; -webkit-border-radius: 12px; -webkit-transition: all ease-in-out 250ms; -webkit-transform: translate3d(0, 0, 0); }
/*div#mainBackgroundTop header #topNavBar #navStepMenu a.setToBlue { color: #D9EFFA; letter-spacing: 1px; background-color: #009ADD; }*/
/*div#mainBackgroundTop header #topNavBar #navStepMenu a .navStepMenuLabels { display: inline-block; padding-top: 10px; }*/
/*div#mainBackgroundTop header #topNavBar #navStepMenu.dashboard { background: url('../../images/timeline.png') no-repeat 0 33%; background-size: 662px 148px; }*/
 
div#mainBackgroundTop section.hiddenArrival { display: none; margin: 85px 0 0 -1000px; -webkit-transition: all ease-in-out 500ms; }
div#mainBackgroundTop section.displayArrival { margin-left: 30px; -webkit-transition: all ease-in 500ms; }

div#mainBackgroundTop section#delayingArrival #crSelectTitle { margin: 20px 0; font-size: 22px; font-weight: bold; color: #2c2c2c; text-transform: uppercase; }

div#mainBackgroundTop section#delayingArrival section.searchDocsForm .formButton { float: left; width: 100px; height: 45px; margin: 0; padding: 0; background: url('../../images/Btn_choose_request_filter.png') no-repeat; background-size: 300px; }
div#mainBackgroundTop section#delayingArrival section.searchDocsForm .formButtons1 { background-position: -2px 0; }
div#mainBackgroundTop section#delayingArrival section.searchDocsForm .formButtons2 { background-position: -102px 0; }
div#mainBackgroundTop section#delayingArrival section.searchDocsForm .formButtons3 { background-position: -202px 0; }
div#mainBackgroundTop section#delayingArrival section.searchDocsForm .formButtons1:hover { background-position-y: 0; cursor: pointer; }
div#mainBackgroundTop section#delayingArrival section.searchDocsForm .formButtons2:hover { background-position-y: -47px; cursor: pointer; }
div#mainBackgroundTop section#delayingArrival section.searchDocsForm .formButtons3:hover { background-position-y: -94px; cursor: pointer; }

/*
#topNavCurrentStepInfo { display: inline-block; height: 75px; margin-top: 5px; padding: 20px 25px 0 10px; font-size: 0.9em; color: #fff; vertical-align: top; }
#topNavCurrentStepInfo :first-child { font-weight: 500; text-transform:uppercase; }
#stepNumber1, 
#stepNumber2, 
#stepNumber3, 
#stepNumber4 { float: left; display: inline-block; font-size: 1.4em; font-weight: 700; border-radius: 50px; -webkit-transition: all ease-in-out 250ms; -webkit-transform: translate3d(0, 0, 0); }
div#mainBackgroundTop header #topNavBar #navStepMenu a.setToDark { color: #A5A6A8; opacity: 0.5; background-color: #111010; }
.stepNumberBlue { padding: 5px 10px 5px 10px; color: #FDFEFE; background-color: #1BA9E2; border: 1px solid #13A5E0; }
.stepNumberDark { padding: 7px 10px 5px 10px; color: #8C8C8B; background-color: transparent; border: none; }
#step12, #step23, #step34 { display: inline-block; width: 20px; height: 7px; margin-top: 30px; padding: 0; color: #fff; vertical-align: top; -webkit-transition: all ease-in-out 500ms; -webkit-transform: translate3d(0, 0, 0); }
.stepStatusLineMid { background: -webkit-gradient(linear, left top, right top, color-stop(40%,#0096E1), color-stop(40%,#171C21), color-stop(0%,#0096E1)); -webkit-transition: all ease-in-out 500ms; -webkit-transform: translate3d(0, 0, 0); }
.stepStatusLineBlue { background-color: #0096E1; -webkit-transition: all ease-in-out 500ms; -webkit-transform: translate3d(0, 0, 0); }
.stepStatusLineDark { background-color: #171C21; -webkit-transition: all ease-in-out 500ms; -webkit-transform: translate3d(0, 0, 0); }
#navStepMenu a.setToDarkNotSelected { width: 120px; border: 1px solid #D71236; color: #fff; background-color: rgb(48,51,52); background-size: 15px 15px; background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent); background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent); background-image: linear-gradient(135deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent); opacity: 0.2; }
#navStepMenu a.setToBlueNotSelected { color: #fff; background-color: #009ADD; box-shadow: 0px 0px 10px 0px rgba(166,226,42, .8); }
*/

/* ====================================================================================== */
/* === ??? ============================================================================== */
/* ====================================================================================== */

div#mainBackground { /*position: fixed; top: 210px;*/ width: 1024px; /*height: 610px;*/ z-index: -1; }

.ErrorZone { display: none; position: absolute; top: 135px; left: 51px; width: 936px; height: 65px; margin: 10px 0 0 -20px; background: #f6f6f6; z-index: 300; }
.ErrorZoneTxt { width: 876px; height: 40px; margin-top: 10px; padding-left: 60px; line-height: 40px; font-size: 18px; color: #c10d0d; text-transform: uppercase; background: #ecd4d4 url('../../images/warning.png') 20px center no-repeat; background-size: 30px; }
/* ====================================================================================== */
/* === 1 - CREDIT SELECTION ============================================================= */
/* ====================================================================================== */



















/*
#userIDConnect { display: inline-block; width: 115px; height: 75px; padding-top: 25px 0 0 10px; font-size: 0.8em; font-weight: 700; color: #fff; vertical-align: top; background: url('../../images/icon-profile__2x.png') no-repeat 85% 40%; background-size: 50px 51px; }
#formerContent { position: fixed; width: 100%; height: 680px; margin-top: 80px; z-index: 0; background: rgba(0, 0, 0, .27); -webkit-transition: margin ease-in-out 1000ms; }
#newContent { left: 1000px; width: 100%; height: 680px; margin-top: 80px; z-index: 0; background: rgba(0, 0, 0, .27); -webkit-transition: margin ease-in-out 1000ms; -webkit-transform: translate3d(0, 0, 0); }
*/

section#site { opacity: 0; z-index: 0; -webkit-transition: opacity ease-in-out 1500ms; }

section#content { width: 100%; z-index: 0; -webkit-transition: margin ease-in-out 1000ms; }

section.searchDocsForm { height: 65px; opacity: 0.7; background: url('../../images/img-background.png') -30px -210px no-repeat; }
section.searchDocsForm div { padding-top: 0; }

section#dashMainContentDumentsSection section.searchDocsForm { position: relative!important; top: 0!important; margin-bottom: 20px; background: none; }
section#dashMainContentDumentsSection section.searchDocsForm .docSortArrow { display: inline-block; width: 45px; height: 45px; background: url('../../images/docSortArrow.png') center center no-repeat; background-size: 16px; }
section#dashMainContentDumentsSection section.searchDocsForm .formButton { width: 100px; height: 45px; background: url('../../images/btn-filter-document.png') no-repeat -5px -4px; background-size: 400px; }
section#dashMainContentDumentsSection section.searchDocsForm .formButtons1 { background-position: -2px -1px; }
section#dashMainContentDumentsSection section.searchDocsForm .formButtons2 { background-position: -102px 0; }
section#dashMainContentDumentsSection section.searchDocsForm .formButtons3 { background-position: -202px 0; }
section#dashMainContentDumentsSection section.searchDocsForm .formButtons4 { background-position: -302px 0; }

section#dashMainContentDumentsSection section.searchDocsForm .formButtons1:hover { background-position-y: -1px; cursor: pointer; }
section#dashMainContentDumentsSection section.searchDocsForm .formButtons2:hover { background-position-y: -50px; cursor: pointer; }
section#dashMainContentDumentsSection section.searchDocsForm .formButtons3:hover { background-position-y: -99px; cursor: pointer; }
section#dashMainContentDumentsSection section.searchDocsForm .formButtons4:hover { background-position-y: -148px; cursor: pointer; }


.search { padding-left: 50px; }

.searchDocsForm span { float: left; }
.searchDocsForm input { font-size: 0.8em; font-weight: lighter; color: #5a5a5a; background: #fcfcfc; border: 1px solid #ccc; -webkit-appearance: none; -moz-box-shadow: 0px 3px 3px 0px #dfdfdf; -webkit-box-shadow: 0px 3px 3px 0px #dfdfdf; -o-box-shadow: 0px 3px 3px 0px #dfdfdf; box-shadow: 0px 3px 3px 0px #dfdfdf; }


#documentsView .searchDocsForm .formButtons1 { margin-left: 0; background-position: -2px -4px; }


#documentsView .searchDocsForm .formButtons2 { background-position: -102px -4px; }
#documentsView .searchDocsForm .formButtons2:hover { background-position: -102px -53px; }


#documentsView .searchDocsForm .formButtons3 { background-position: -202px -4px; }
#documentsView .searchDocsForm .formButtons3:hover { background-position: -202px -103px; }

#documentsView .searchDocsForm .formButtons4 { background-position: -302px -4px; }
#documentsView .searchDocsForm .formButtons4:hover { background-position: -302px -153px; }

#loupe { display: none; width: 60px; height: 38px; margin-top: 2px; background: #2c2c2c url('../../images/loupe.png') no-repeat 20px 9px; background-size: 20px; -moz-box-shadow: 0px 3px 3px 0px #dfdfdf; -webkit-box-shadow: 0px 3px 3px 0px #dfdfdf; -o-box-shadow: 0px 3px 3px 0px #dfdfdf; box-shadow: 0px 3px 3px 0px #dfdfdf; filter:progid:DXImageTransform.Microsoft.Shadow(color=#dfdfdf, Direction=180, Strength=3); }

.searchDocsForm #displayAsList,
.searchDocsForm #displayAsThumbnails { display: block; width: 38px; height: 38px; margin: 2px 0 0 20px; background: url('../../images/mode-view.png') no-repeat; background-size: 82px; -moz-box-shadow: 0px 3px 3px 0px #dfdfdf; -webkit-box-shadow: 0px 3px 3px 0px #dfdfdf; -o-box-shadow: 0px 3px 3px 0px #dfdfdf; box-shadow: 0px 3px 3px 0px #dfdfdf; filter:progid:DXImageTransform.Microsoft.Shadow(color=#dfdfdf, Direction=180, Strength=3); }

.searchDocsForm #displayAsList:hover,
.searchDocsForm #displayAsThumbnails:hover { cursor: pointer; }
.searchDocsForm .displayAsListSelected:hover,
.searchDocsForm .displayAsThumbnailsSelected:hover { cursor: default!important; }

.searchDocsForm #displayAsThumbnails { background-position: 0 -47px; }

.searchDocsForm .displayAsThumbnailsSelected { background-position: 0 0!IMPORTANT; }

.searchDocsForm #displayAsList { margin-left: 0; background-position: -40px 0; }

.searchDocsForm .displayAsListSelected { background-position: -40px -47px!IMPORTANT; }

#bullet1, 
#bullet2 { font-size: 4em; }
#bullet1.active, 
#bullet2.active { color: #D90032; letter-spacing: -7px; }
#bullet1.inactive, 
#bullet2.inactive { color: #434343; letter-spacing: -7px; }

.requestLabels { padding-left: 25px; font-size: 1.3em; font-weight: bold; color: #2c2c2c; -webkit-transition: all ease-out 500ms; }

.delayingSubTitle { margin-left: -500px; }
.arrivingSubTitle { margin-left: 0; }

.searchDocsForm input { width: 495px; margin-left: 45px; padding: 11px 0 11px 20px; border: none; }

#documentsView .searchDocsForm input { width: 610px; margin-left: 25px; padding-top: 15px; }

.searchDocsForm img { float: right; }

#indexSection { position: fixed; margin: 280px 0 0 45px; margin-left: 32px; }

#requests { text-align: center; vertical-align: top; -webkit-transition: all ease-in-out 1200ms; }

.scaleSmall { -webkit-transform : scale(0.75,0.75) translate3d(0, 0, 0); }
.scaleNormal { -webkit-transform : scale(1,1) translate3d(0, 0, 0); }

.request { display: inline-block; width: 160px; height: 160px; margin: 12px; background-color: #fefefe; border: 1px solid #f8f8f8; border-radius: 40px; }
.requestLabel { display: block; padding-top: 30px; font-weight: 100; color: #444444; }

#content2 { top: 100%; -webkit-transition: all ease-in-out 1000ms; -webkit-transform: translate3d(0, 0, 0); }

.requestAmount { display: block; color: #000; }

.requestClient { display: block; font-weight: 100; color: #484848; }

.requestStatus { display: block; font-size: 0.8em; }
.requestLine { margin: 0 20px; color: red; border: 1px solid #fd0000; }

.graphs { float: right; top: 550px; width: 860px; margin-top: 20px; padding: 0 15px 8px 15px; overflow: hidden; font-family:  "Helvetica neue"; text-align: center; }
.graph { position: relative; display: inline-block; margin-right: 1em; padding: 20px 4px 5px 4px; border: 1px solid #e6e6e6; }
.graph-small { margin-right: 1em; padding: 8px 1.5em; }
.graphBlock { position: relative; display: inline-block; width: 140px; margin-right: 1em; padding: 20px 4px 5px 4px; border: 1px solid #e6e6e6; }
#deadline { display: block; position: absolute; top: 23%; left: 18%; width: 100px; font-size: 1em; font-weight: bold; }

#amount { position: absolute; top: 29%; left: 23%; font-size: 3em; font-weight: bold; }
#rw { display: block; position: absolute; top: 29%; left: 9%; width: 130px; font-size: 2.2em; font-weight: bold; word-wrap: break-word; }
.graphSpace { width: 140px; height: 140px; }


.graph-rate { display: block; position: absolute; top: 29%; left: 17%; width: 100px; font-size: 3em; font-weight: bold; word-wrap: break-word; }

.or { left: 18%; font-weight: bold; font-size: 3em; }

.graph-title { position: relative; margin: 0; padding-left: 20px; font-size: 18px; font-weight: 100; }
.graph-label { margin-bottom: 0; font-size: 14px; font-weight: 300; text-align: left; }

.graph-title-line-chart { margin-right: 0; margin-bottom: 7px; }

#navStepMenu.choose { background: url('../../images/timeline.png') no-repeat 0 0; background-size: 662px 148px; }

.specimens { background-color: #f4f4f4; }

#summuryPic { display: inline-block; float: right; clear: both; width: 890px; height: 552px; margin: 150px 16px 200px 0; background: url('../../images/img_summary.png') #fff no-repeat top left; background-size: 890px 552px; }

#nextButton { display: inline-block; display: none; float: right; width: 145px; height: 53px; margin-top: 21px; line-height: 53px; font-size: 15px; font-weight: 500; color: #fff; text-transform: uppercase; text-align: center; background: #00ce0f url('../../images/right-arrow.png') no-repeat 120px 20px; background-size: 8px; -moz-box-shadow: 0px 3px 3px 0px #dfdfdf; -webkit-box-shadow: 0px 3px 3px 0px #dfdfdf; -o-box-shadow: 0px 3px 3px 0px #dfdfdf; box-shadow: 0px 3px 3px 0px #dfdfdf; filter:progid:DXImageTransform.Microsoft.Shadow(color=#dfdfdf, Direction=180, Strength=3); -webkit-transition: all ease-in-out 500ms; z-index: 100000; }
#nextButton #light { font-weight: lighter; }
#nextButton:hover { background-color: #23dd30; cursor: pointer; }
#nextButton.hidden { opacity: 0; }
#nextButton.shown { opacity: 1; }

/* Action */

.container { height: 690px; overflow: hidden; }
 
[id="accept"] { float: left; width: 27.9%; margin-top: 45px; text-align: center; }
[id="slider-vertical"] { margin: 0 auto; }

.form-validator-comment { float: left; width: 70%; }

.btn-green-submit { width: 132px; height: 54px; background: transparent url("../../images/submit-green-button.png") no-repeat 0 0; border: none; outline: none; }

.ui-slider-vertical { width: 57.5px; }
.ui-slider-vertical .ui-slider-handle { left: -2.4em; bottom: 52%; width: 142px; height: 142px; margin-bottom: -3.9em; background: transparent url("../../images/img_slider_button.png") no-repeat 0 0; border: none; outline: none; }

.validator-comment-input { width: 80%; height: 60px; font-size: 14px; font-weight: 400; }

.validator-comment-textarea { width: 80%; font-size: 14px; font-weight: 400; }

input:focus, textarea:focus { outline: none; }

.content-slider-titre { display: none; margin-bottom: 0; font-size: 26px; font-weight: 600; }
.content-slider__sous-titre { display: none; margin-top: 0; font-size: 15px; font-weight: 100; }

.mainText { padding: 10px; font-size: 1.4em; border: none; border-radius: 7px; box-shadow: inset 0 0 10px #ccc; -webkit-appearance: none; }

.texteareaShort { height: 200px; }

.myOwnSlider { margin: 0 0 0 -230px; background-color: transparent; }

#formImage { width: 710px; height: 418px; margin: 50px 0 0 250px; background: url('../../images/select_validate.png') no-repeat left top; background-size: 712px 418px; }

.graph-rate, 
.graph-title, 
.graph-label { font-family: 'Helvetica neue'; }

/* Credit Requests Swipe carousel styles */

.crCard { display: inline-block; width: 240px; margin: 7px; background: #fff; -webkit-box-shadow: 1px 1px 5px rgba(10, 10, 10, 0.2); -moz-box-shadow: 1px 1px 5px rgba(10, 10, 10, 0.2); box-shadow: 1px 1px 5px rgba(10, 10, 10, 0.2); }
.crCard span { display: block; -webkit-transition: all ease-in-out 500ms; }
.crCard span.crTitle { display: block; width: 188px; height: 46px; padding: 7px 7px 7px 45px; font-size: 0.8em; font-weight: 100; color: #282828; text-align: left; text-transform: uppercase; text-overflow: ellipsis; vertical-align: middle; overflow: hidden; background-repeat: no-repeat; background-position: 5px 13px; background-size: 35px; border-bottom: 1px solid #D71236; }
.crCard span.crTitle1 { background-image: url('../../images/crPicto-01.png'); }
.crCard span.crTitle2 { background-image: url('../../images/crPicto-02.png'); }
.crCard span.crTitle3 { background-image: url('../../images/crPicto-03.png'); }
.crCard span.crTitle4 { background-image: url('../../images/crPicto-04.png'); }
.crCard span.crTitle5 { background-image: url('../../images/crPicto-05.png'); }
.crCard span.crTitle6 { background-image: url('../../images/crPicto-06.png'); }
.crCard span.crTitle7 { background-image: url('../../images/crPicto-07.png'); }
.crCard span.crTitle8 { background-image: url('../../images/crPicto-08.png'); }

.crCard span.crRequester { display: block; margin: 0 7px 10px 7px; padding: 0 10px; font-size: 0.8em; font-weight: 100; color: #141414; }
.crCard span.crRequesterRed,
.crCardDark span.crRequesterRed { margin-top: 5px; font-size: 0.7em; color: #D71236; }

.crCard span.listCrCardTeam,
.crCardDark span.listCrCardTeam,
.crCard span.listCrCardInit,
.crCardDark span.listCrCardInit { display: none; }

.crCard span.crPricing,
.crCardDark span.crPricing { display: block; height: 18px; font-size: 1.2em; font-weight: bold; text-align: center; }

.crCard span.crStatus { display: block; padding: 0 0 7px 7px; font-size: 0.7em; font-weight: 100; color: #000; text-align: center; border-bottom: #F8F8F8; }

.crCard span.crDeadline,
.crCardDark span.crDeadline { display: block; padding-top: 10px; font-size: 0.7em; font-weight: 100; color: #141414; text-align: center; }
.crCard span.crDeadline { padding-left: 7px; text-align: center; }
.crCard span.crDeadline .crDeadLineLine { display: inline-block; font-size: 12px; color: #D71236; }
.crCard span.crDeadline .crDeadLineLine { display: inline-block; font-size: 12px; color: #D71236; }
.crCard span.crDeadline .crDeadLineLine #crDeadLineLineTxt { display: inline-block; }

.crCardDark { display: inline-block; width: 180px; margin: 7px; background: #f3f3f3; -webkit-box-shadow: 1px 1px 5px rgba(10, 10, 10, 0.2) inset; -moz-box-shadow: 1px 1px 5px rgba(10, 10, 10, 0.2) inset; box-shadow: 1px 1px 5px rgba(10, 10, 10, 0.2) inset; }

.crCardDark span { display: block; }

.crCardDark span.crTitledark { display: block; width: 133px; height: 46px; padding: 7px; font-size: 0.8em; font-weight: 100; color: #fff; text-align: center; text-overflow: ellipsis; vertical-align: middle; overflow: hidden; border-bottom: #f8f8f8; }

.crCardDark span.crTitle { display: block; width: 133px; height: 52px; padding: 4px 4px 4px 40px; font-size: 0.8em; font-weight: 100; color: #5f5f5f; text-align: center; text-transform: uppercase; text-overflow: ellipsis; vertical-align: middle; overflow: hidden; border-bottom: 1px solid #D71236; }

.crCardDark span.crRequester { display: block; margin-bottom: 10px; padding: 0 10px; font-size: 0.8em; font-weight: 100; color: #525252; }

.crCardDark span.crStatus { display: block; padding: 7px; font-size: 0.7em; font-weight: 100; color: #525252; text-align: center; border-bottom: #F8F8F8; }

.swipePrevious { position: absolute; top: 175px; left: 0; width: 35px; height: 40px; background: url('../../images/img_fleches.png') no-repeat; background-size: 35px; }

.swipeNext { position: absolute; top: 175px; right: -40px; width: 35px; height: 40px; background: url('../../images/img_fleches.png') no-repeat 0 -45px; background-size: 35px; -webkit-transition: opacity ease-out 250ms; }

/*	End of Credit Requests Swipe Carousel Styles 	*/

/*	Credit Requests list styles 	*/

.CRList { width: 958px; max-width: 999px; margin-top: 20px; margin-left: -17px; text-align: center; background: red; -webkit-transition: all ease-in-out 500ms; }

.crList .crCard,
.crList .crCardDark { margin-left: 0!important; -webkit-box-shadow: 0px 0px 0px rgba(10, 10, 10, 0.2); -moz-box-shadow: 0px 0px 0px rgba(10, 10, 10, 0.2); box-shadow: 0px 0px 0px rgba(10, 10, 10, 0.2); }

.CRList span.crCard, 
.CRList span.crCardDark { display: block; width: 100%; height: 80px; margin: 0 0 0 10%; text-align: center; vertical-align: middle; }

.CRList .crCard span, 
.CRList .crCardDark span { display: inline-block; -webkit-transition: all ease-in-out 500ms;	 }

.CRList .crCard span.crTitle, 
.CRList .crCardDark span.crTitle { float: left; -webkit-transition: all ease-in-out 500ms; margin: 10px 0 5px 0; padding: 5px; font-size: 0.8em; font-weight: 100; color: #666; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; border-bottom: #F8F8F8; -webkit-transition: all ease-in-out 500ms; }

.CRList .crCardDark span.crTitle { color: #5f5f5f; }

/*
.CRList .crCardDark span.crTitlePic1 { color: red; }
*/

.CRList .crCard span.crRequester, 
.CRList .crCardDark span.crRequester { height: auto; margin: 10px 7px 0 7px; padding: 5px; font-size: 1.2em; font-weight: 100; color: #141414; background-color: transparent; border-bottom: none; }

.CRList .crCard span.crStatus, 
.CRList .crCardDark span.crStatus { float: right; margin: 10px 0 5px 0; padding: 7px; font-size: 0.8em; font-weight: 100; color: #666; border-bottom: #f8f8f8; }

.CRList .crCardDark span.crRequester,
.CRList .crCardDark span.crStatus { color: #525252; }







.CRList .crListHeadBand { display: block!important; width: 958px; height: 50px; margin-top: 5px; line-height: 50px; background: #fff; border-bottom: 1px solid #D71236; }
.CRList .crListHeadBand div { float: left; padding: 0 10px; text-align: center; }
.CRList .crListHeadBand .crType { width: 50px; }
.CRList .crListHeadBand .crClient { width: 200px; } 
.CRList .crListHeadBand .crTrans { width: 250px; } 
.CRList .crListHeadBand .crInitiator { width: 60px; } 
.CRList .crListHeadBand .crTeam { width: 140px; height: 40px; padding-top: 7px; line-height: normal; } 
.CRList .crListHeadBand .crDeadline { width: 100px; } 
.CRList .crListHeadBand .crRequest { width:	158px; }




#noRequestsResults { display: none; width: 500px; margin-left: 232px; padding: 30px; text-align: center; background: url('../../images/exclam_2x.png') 80px center no-repeat; background-size: 50px; }
#noRequestsResults p { margin: 5px 0; }

/*	End of Credit Requests list styles 	*/

.redBordering { border-bottom: 1px solid #D71236; }

.myOwnTableRowIndex { position: absolute; top: 10px; width: 933px; padding: 20px 0 15px 0; font-weight: bold; vertical-align: middle; background-color: #fff; -webkit-box-shadow: 1px 1px 5px rgba(10, 10, 10, 0.2); -moz-box-shadow: 1px 1px 5px rgba(10, 10, 10, 0.2); box-shadow: 1px 1px 5px rgba(10, 10, 10, 0.2); z-index: 3000; }
.myOwnTableCellIndex { display: table-cell; padding-left: 10px; font-size: 0.9em; text-align: left; vertical-align: middle; }
.myOwnTableCellIndex:first-child { display: none; width: 50px; }
.myOwnTableCellIndex:nth-child(2) { width: 190px; padding-left:	70px; }
.myOwnTableCellIndex:nth-child(3) { width: 200px; padding-left: 15px; }
.myOwnTableCellIndex:nth-child(4),
.myOwnTableCellIndex:nth-child(5) { width: 170px; padding-left: 0; }
.myOwnTableCellIndex:nth-child(6) { width: 100px; padding-left: 0; }
.myOwnTableCellIndex:nth-child(7) { display: none; width: 188px; }

/* ================================================== */

.shouldBeAList .swipeBreak { display: none; }

.shouldBeAList { position: absolute; top: 80px; }

.shouldBeAList .crCard,
.shouldBeAList .crCardDark { display: block; width: 933px; margin: 0; padding: 5px 0; background: #fff url('../../images/rightBlackArrow.png') no-repeat 900px center; background-size: 7px; }

.shouldBeAList .crCard .crTitle,
.shouldBeAList .crCardDark .crTitle,
.shouldBeAList .crCard .crRequesterRed,
.shouldBeAList .crCardDark .crRequesterRed,
.shouldBeAList .crCard .crRequester,
.shouldBeAList .crCardDark .crRequester,
.shouldBeAList .crCard .crPricing,
.shouldBeAList .crCardDark .crPricing,
.shouldBeAList .crCard .crDeadline,
.shouldBeAList .crCardDark .crDeadline,
.shouldBeAList .crCard .crStatus,
.shouldBeAList .crCardDark .crStatus,
.shouldBeAList .crCard span.listCrCardTeam,
.shouldBeAList .crCardDark span.listCrCardTeam,
.shouldBeAList .crCard span.listCrCardInit,
.shouldBeAList .crCardDark span.listCrCardInit { display: table-cell; height: 60px; padding: 0; vertical-align: middle; border: none; }

.shouldBeAList .crCardDark span.crDeadline .crDeadLineLine #crDeadLineLineTxt,
.shouldBeAList .crCard span.crDeadline .crDeadLineLine #crDeadLineLineTxt,
.shouldBeAList .crCard .crInitLine,
.shouldBeAList .crCardDark .crInitLine,
.shouldBeAList .crCard .crRequesterRed,
.shouldBeAList .crCardDark .crRequesterRed { display: none; }

.shouldBeAList .crCard span.crDeadline .crDeadLineLine,
.shouldBeAList .crCardDark span.crDeadline .crDeadLineLine { font-size: 14px; font-weight: bold; color: #e20030; }

.shouldBeAList .crCard span.crTitle,
.shouldBeAList .crCardDark span.crTitle { width: 190px; padding-right: 0; padding-left: 70px; text-align: left; background-position: 20px center; }

.shouldBeAList .crCard .crRequester,
.shouldBeAList .crCardDark .crRequester { width: 200px; padding: 0 0 0 15px; text-align: left; }

.shouldBeAList .crCard span.listCrCardTeam,
.shouldBeAList .crCardDark span.listCrCardTeam,
.shouldBeAList .crCard span.listCrCardInit,
.shouldBeAList .crCardDark span.listCrCardInit { width: 170px; padding: 0; text-align: left; }


.shouldBeAList .crCard .crPricing,
.shouldBeAList .crCardDark .crPricing { display: none; width: 100px; padding: 0; }

.shouldBeAList .crCard .crDeadline,
.shouldBeAList .crCardDark .crDeadline { width: 100px; padding: 0; text-align: left; }

.shouldBeAList .crCard .crStatus,
.shouldBeAList .crCardDark .crStatus { display: none; width: 198px; }

.docName { font-size: 0.8em; font-weight: 100; }
#footer { height: 50px; margin-top: -15px; }

#position { width: 140px; margin-right: auto; margin-left: auto; padding-left: 53px; }
#position li { display: inline-block; width: 10px; height: 10px; margin: 0 2px; background: #b4b4b4; border-radius: 10px; cursor: pointer; }
#position li.on { background-color: #000; }

#submitSectionPlacer { height: 500px; margin-top: 20px; padding: 0 50px 0 70px; overflow: auto; }
#submitSectionPlacer .accepted,
#submitSectionPlacer .refused { height: 35px; line-height: 35px; padding: 30px 0 0 45px; font-size: 1.2em; font-weight: bold; text-transform: uppercase; background: url('../../images/pastilles2.png') 0 25px no-repeat; background-size: 38px; }
#submitSectionPlacer .refused { width: auto; background-position: 0 -180px!important; }
#submitSectionPlacer .commentTitle { font-size: 1.2em; color: #808080; }
#submitSectionPlacer .commentIntro { height: 40px; margin-top: 20px; padding-left: 55px; line-height: 40px; font-size: 23px; font-weight: lighter; color: #808080; background: url('../../images/smallBubble_2x.png') 0 center no-repeat; background-size: 45px; }
#submitSectionPlacer .comment { font-size: 1em; font-weight: lighter; color: #242424; }
#submitSectionPlacer .noComment { width: 904px; height: 300px; background: url('../../images/noCommentBG.png') center center no-repeat; background-size: 175px; }
#submitSectionPlacer .botButtons { margin-top: 50px; }
#submitSectionPlacer .botButtons .modify { width: 201px; height: 40px; margin: 0 auto; padding-left: 10px; line-height: 40px; font-family: "Helvetica neue", sans-serif; font-weight: 100; text-align: center; background: #fff url('../../images/homeIcon_2x.png') 20px center no-repeat; background-size: 26px; -moz-box-shadow: 0px 3px 3px 0px #dfdfdf; -webkit-box-shadow: 0px 3px 3px 0px #dfdfdf; -o-box-shadow: 0px 3px 3px 0px #dfdfdf; box-shadow: 0px 3px 3px 0px #dfdfdf; }
#submitSectionPlacer .botButtons .modify a { display: block; text-transform: uppercase; }
#submitSectionPlacer .botButtons .modify a:hover { cursor: pointer; }
#submitSectionPlacer .botButtons .modify a .modifyBold { font-weight: bold; }
#submitSectionPlacer .botButtons .print { float: right; width: 107px; height: 40px; background: url('../../images/print.png') no-repeat; background-size: 107px; -moz-box-shadow: 0px 3px 3px 0px #dfdfdf; -webkit-box-shadow: 0px 3px 3px 0px #dfdfdf; -o-box-shadow: 0px 3px 3px 0px #dfdfdf; box-shadow: 0px 3px 3px 0px #dfdfdf; }
#submitSectionPlacer .botButtons .send { float: right; width: 107px; height: 40px; margin-left: 10px; background: url('../../images/send.png') no-repeat; background-size: 107px; -moz-box-shadow: 0px 3px 3px 0px #dfdfdf; -webkit-box-shadow: 0px 3px 3px 0px #dfdfdf; -o-box-shadow: 0px 3px 3px 0px #dfdfdf; box-shadow: 0px 3px 3px 0px #dfdfdf; }
#submitSectionPlacer .botButtons .save { float: right; width: 107px; height: 40px; margin-left: 10px; background: url('../../images/save.png') no-repeat; background-size: 107px; -moz-box-shadow: 0px 3px 3px 0px #dfdfdf; -webkit-box-shadow: 0px 3px 3px 0px #dfdfdf; -o-box-shadow: 0px 3px 3px 0px #dfdfdf; box-shadow: 0px 3px 3px 0px #dfdfdf; }












#noConnexion { display: none; position: fixed; top: 20%; left: 0; width: 100%; height: 80%; background: url('../../images/noWifiRepeatBG.png') repeat; z-index: 300000000000; }
#noConnexion #noConnexionHead { width: 100%; height: 55px; line-height: 55px; font-size: 23px; text-align: center; background: url('../../images/noWifiHeadBG.png') 0 0 repeat; background-size: 1px; }
#noConnexion #noConnexionMain { width: 100%; height: 100%; background: url('../../images/noWifiBG.png') center 50px no-repeat; background-size: 375px; }









section#splash
{
animation:mymove 2s 1;
animation-delay:1s;
/*Safari and Chrome*/
-webkit-animation:mymove 2s 1;
-webkit-animation-delay:1s;
-webkit-animation-fill-mode: forwards;
animation-fill-mode: forwards;
}

@keyframes mymove
{
from {top:0px;}
to {top:-200px;}
}

@-webkit-keyframes mymove /*Safari and Chrome*/
{
from {top:0px;}
to {top:-200px;}
}

#loginForm {
-webkit-animation: fadein 2s; /* Safari and Chrome */
-webkit-animation-delay: 2500ms;
-webkit-animation-fill-mode: forwards;
-moz-animation: fadein 2s; /* Firefox */
-moz-animation-delay: 2500ms;
-moz-animation-fill-mode: forwards;
-ms-animation: fadein 2s; /* Internet Explorer */
-ms-animation-delay: 2500ms;
-ms-animation-fill-mode: forwards;
-o-animation: fadein 2s; /* Opera */
-o-animation-delay: 2500ms;
-o-animation-fill-mode: forwards;
animation: fadein 2s;
animation-delay: 2500ms;
animation-fill-mode: forwards;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}​

/* Opera */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}​







